* {
    margin: 0%;
    padding: 0%;
}

#all_caregory_list {
    width: 100%;
    height: 400px;
    /* border: 1px solid black; */
    display: flex;
    margin-left: 20px;
}

#colse_list {
    margin-left: 1450px;
    padding-top: 50px;
}

#all_caregory_list_row1 {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
}
#caregory_img{
    width: 80px;
    height: 80px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /* border: 1px solid black; */
}
#all_items_name{
    margin-top: 3px;
    margin-left: 10px;
    text-decoration: none;
    color: black;
}

#all_caregory_list_row2 {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
}

#all_caregory_list_row3 {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 20%;
    height: 400px;
    /* border: 1px solid black; */
}