*{
    margin: 0%;
    padding: 0%;
}

#mycart{
    width: 100%;
    height: auto;
    /* border:  1px solid black; */
    margin-top: 20px;
    display: flex;
}
#cart_item{
    width: 70%;
    height: auto;
    margin-bottom: 50px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 20px;
}
#cart_item_my_cart{
    margin-left: 40px;
    margin-top: 20px;
}
#index{
    margin-top: 20px;
    color: grey;
    /* border: 1px solid black; */
    display: flex;
}
#index1{
    margin-left: 40px;
}
#index2{
    margin-left: 340px;
}
#index3{
    margin-left: 150px;
}
#index4{
    margin-left: 140px;
}
#index5{
    margin-left: 50px;
}
#sub_index{
    color: grey;
    /* border: 1px solid black; */
    display: flex; 
}
#sub_index1{
    margin-left: 410px;
    font-size: 10px;
}
#sub_index2{
    margin-left: 110px;
    font-size: 10px;
}
#sub_index3{
    margin-left: 242px;
    font-size: 10px;
}
#display_product_cart{
    width: 94%;
    height: 100px;
    border: 1px solid black;
    margin-left: 3%;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
}
#cart_product_img{
    width: 90px;
    height: 80px;
    margin-top: 10px;
    /* border: 1px solid black ; */
}
#cart_product_name{
    width: 250px;
    height: 60px;
    /* border: 1px solid black; */
    margin-top: 30px;
    margin-left: 10px;
}
#cart_product_pay{
    width: 50px;
    height: 30px;
    /* border: 1px solid black; */
    margin-top: 35px;
    margin-left: 55px;
}
#cart_product_save{
    width: 50px;
    height: 30px;
    margin-top: 35px;
    margin-left: 160px;
    /* border: 1px solid black; */
}
#cart_product_no_of_items{
    width: 150px;
    height: 25px;
    /* border: 1px solid black; */
    margin-top: 35px;
    margin-left: 100px;
    display: flex;
}
#cart_number_add{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
}
.cart_number_display{
    width: 80px;
    height: 25px;
    border: 1px solid black;
    margin-left: 10px;
    text-align: center;
    border-radius: 5px;
}
#cart_number_remove{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 3px;
    margin-left: 10px;
    text-align: center;
}
#cart_product_delete{
    width: 20px;
    height: 20px;
    margin-top: 37px;
    margin-left: 30px;
    /* border: 1px solid black; */
}
#cart_remove_all_items{
    margin-top: 50px;
    margin-left: 880px;
    display: flex;
}
#cart_remove_all_items_button{
    width: 150px;
    height: 42px; 
    display: flex; 
    padding-top: 7px; 
    padding-left: 30px; 
    background-color: #008d42; 
    color: white; 
    border-radius: 12px; 
    margin-bottom: 10px; 
    margin-right: 20px;  
}
#cart_remove_all_items_img{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    display: inline;
}
#cart_remove_all_items_mesg
{
    margin-top: 7px;
    display: inline;
    margin-left: 5px;
}
#cart_summary{
    width: 25%;
    height: 240px;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 20px;
    border: 1px solid black;    
}
#cart_sidebar_msg{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
#cart_sidebar_info{
    margin-left: 20px;
    margin-top: 20px;
    color: grey;
    display: flex;
}
#cart_sidebar_total_pay1{
    margin-left: 200px;
}
#cart_sidebar_total_pay2{
    margin-left: 150px;
    color: red;
}
#cart_sidebar_total_pay3{
    margin-left: 210px;
    color: rgb(7, 203, 7);
}
#cart_sidebar_proceed_to_checkout{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    border: 1px solid black; 
    border-radius: 5px;
    background-color: rgb(33, 149, 58);
    display: flex;
}
#cart_sidebar_proceed_to_checkout_text{
    width: 100%;
    height: 50px;
    background-color: rgb(33, 149, 58);
    text-decoration: none;
    color: white;
    padding-left: 130px;
    padding-top:5px;
    padding-right: 117px;
    border: 1px solid black;
}