*{
    margin: 0%;
    padding: 0%;
}

#mycart{
    width: 100%;
    height: auto;
    /* border:  1px solid black; */
    margin-top: 20px;
    display: flex;
}
#cart_item{
    width: 70%;
    height: auto;
    margin-bottom: 50px;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 20px;
}
#cart_item_my_cart{
    margin-left: 40px;
    margin-top: 20px;
}
#index{
    display: flex;
    margin-top: 20px;
    color: grey;
}
#index1{
    flex: 2;
    margin-left: 40px;
}
#index2{
    flex: 1;
}
#index3{
    flex: 1;
}
#index4{
    flex: 1;
}
#display_product_cart{
    width: 94%;
    height: 100px;
    border: 1px solid black;
    margin-left: 3%;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
}
#cart_product_img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
#cart_product_name{
    width: 250px;
    margin-top: 30px;
    margin-left: 20px;
}
#cart_product_pay{
    margin-top: 30px;
    margin-left: 60px;
}
#cart_product_save{
    margin-top: 30px;
    margin-left: 170px;
}
#cart_product_no_of_items{
    margin-top: 30px;
    margin-left: 170px; 
}
#cart_product_delete{
    width: 20px;
    height: 20px;
    margin-left: 90px;
    margin-top: 30px;
}
#cart_remove_all_items{
    margin-top: 50px;
    margin-left: 900px;
    display: flex;
}
#cart_remove_all_items_img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
#cart_summary{
    width: 25%;
    height: 240px;
    margin-left: 3%;
    margin-right: 2%;
    margin-top: 20px;
    border: 1px solid black;    
}
#cart_sidebar_msg{
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
#cart_sidebar_info{
    margin-left: 20px;
    margin-top: 20px;
    color: grey;
    display: flex;
}
#cart_sidebar_total_pay1{
    margin-left: 200px;
}
#cart_sidebar_total_pay2{
    margin-left: 150px;
    color: red;
}
#cart_sidebar_total_pay3{
    margin-left: 210px;
    color: rgb(7, 203, 7);
}
#cart_sidebar_proceed_to_checkout{
    width: 100%;
    height: 50px;
    margin-top: 50px;
    border: 1px solid black; 
    border-radius: 5px;
    background-color: rgb(33, 149, 58);
    display: flex;
}
#cart_sidebar_proceed_to_checkout_text{
    text-decoration: none;
    color: white;
    padding-left: 120px;
    padding-top: 15px;
}