*{
    margin: 0%;
    padding: 0%;
}
#footer1{
     width: 100%;
     height: 280px;
     border: 1px solid black;
     display: flex;
     background-image: url("https://www.dmartindia.com/static/media/images-map.c6f56f8a.jpg");
}
#location{
   width: 50%;
   height: 300px;
   flex: 1;
   margin-top: 50px;
   /* border: 1px solid black; */
   justify-content: center;
   text-align: center;
   color: white;
}
#home_logo{
    width: 30px;
    height: 30px;
    margin-top: 40px;
}
#address{
    font-size: 17px;
    margin-top: 10px;
}
#contect{
    width: 50%;
    height: 300px;
    flex: 1; 
    margin-top: 50px;
    /* border: 1px solid black; */
    justify-content: center;
    text-align: center;
    color: white;
}
#contectus{
    font-size: 20px;
    margin-top: 40px;
}
#teliphone_logo{
    width: 20px;
    height: 20px;
    margin-top: 30px;
}
#number{
    text-decoration: none;
    color: white;
    margin-top: 10px;
}
#gmail{
    width: 50%;
   height: 300px;
   flex: 1;
   margin-top: 50px;
   /* border: 1px solid black; */
   justify-content: center;
   text-align: center;
   color: white;
}
#gmail_logo{
    margin-top: 40px;
    width: 30px;
    height: 30px;
}
#gmail_id{
    width: 30px;
    height: 30px;
    color: white;
    text-decoration: none;
}
#div2{
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    background-color: #384552;
}
#msg1{
    margin-left: 15px;
    color:rgb(201, 198, 198);
}
#msg2{
    color: rgb(201, 198, 198);
    text-align: center;
    margin-top: 5px;
}