*{
    margin: 0%;
    padding: 0%;
}
#div1{
    width: 100%;
    height: 80px;
    /* border: 1px solid black; */
    display: flex;
}

#logo{
    width: 10%;
    height: 80px;
    /* border: 1px solid black; */
}
#logo1{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    flex: 1;
}
#time{
    width: 10%;
    height: 70px;
    /* border: 1px solid black; */
    margin-top: 20px;
    flex: 3;
}
#msg1{
   color: black;
   padding-left: 50px;
}
#msg2{
    margin-top: 30px;
    color: green;
}
#msg3{
    padding-left: 50px;
    display: flex;
    color: black;
}
#timer{
    width: 20px;
    height: 20px;
    display: inline;
}
#msg4{
    padding-top: 2px;
    padding-left: 2px;
    display: inline;
}
#serch{
    width: 30%;
    height: 70px;
    /* border: 1px solid black;   */
    flex: 7;
    margin-top: 10px;
}
#serch1{
    width: 80%;
    height: 30px;
    border: 1px solid black;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 8px;
}
#serch_btn{
    width: 12%;
    height: 30px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: green;
}
#login{
    width: 30%;
    height: 60px;
    /* border: 1px solid black;  */
    margin-top: 20px; 
    flex: 2;
}
#user{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 50px;
}
#singin{
   padding-left: 5px;
}
#register{
    margin-top: 10px;
}
#cart{
    width: 30%;
    height: 60px;
    /* border: 1px solid black;   */
    flex: 1; 
    margin-top: 20px;
}
#cart_logo{
    width: 20px;
    height: 20px;
    margin-top: 15px;
    margin-left: 40px;
}
#nev2{
    width: 100%;
    height: 30px;
    /* border: 1px solid black; */
    display: flex;
}
#categories{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    flex: 2;
}
#all_categories{
    width: 100%;
    height: 20px;
    padding-left: 20px;
    margin-top: 5px;
    display: flex;
}
#item{
    width: 20px;
    height: 20px; 
}
#allmanu{
    text-decoration: none;
    color: black;
}
#page{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    flex: 10;
}
#pagelist{
    margin-top: 5px;
}
#pagename{
    text-decoration: none;
    margin-left: 30px;
    color: black;
}
