*{
    padding: 0%;
    margin: 0%;
}
#main{
    width: 100%;
    height: auto;
    border: 1px solid black;
}
#display{
    width: 90%;
    height: auto;
    border: 1px solid black;
    margin-left: 5%;
    margin-top: 20px;
    margin-bottom: 50px;
}
#display_table{
    width: 99%;
    border: 1px solid black;
    margin-top: 7px;
    margin-left: 7px;
    margin-bottom: 10px;
}
#display_table_tr{
    width: 98%;
    height: 20px;
    margin-top: 5px;
}
#display_table_tr_td{
    width: 8%;
    height: 20px;
    border: 1px solid black;
    text-align: center;
}
#display_table_tr_button{
    width: 100px;
    height: 25px;
    border: 1px solid red;
    color: red;
    background-color: white;
    margin-left: 17px;
    padding-top: 7px;
}
#display_table_tr_updata_button{
    width: 100px;
    height: 50px;
    text-decoration: none; 
}
#display_table_tr__div_updata_button{
    width: 100px;
    height: 25px;
    border: 1px solid rgb(6, 6, 179);
    text-align: center;
    padding-top: 8px;
    margin-top: 5px;
    margin-left: 17px;
    color: rgb(6, 6, 179);
}