*{
    margin: 0%;
    padding: 0%;
}
#product_detail{
    width: 100%;
    height: 600px;
    /* border: 1px solid black; */
    display: flex;
}
#product_discount{
    width: 100%;
    height: 40px;
    /* border: 1px solid black; */
}
#product_discount_img{
    width: 40px;
    height: 40px;
    /* border: 1px solid black; */
    margin-left: 425px;
}
#product_img{
    width: 30%;
    height: 450px;
    margin-left: 5%;
    border: 1px solid black;
    margin-top: 5%;
    flex: 1;
}
#product_img1{
    width: 300px;
    height:300px;
    /* border: 1px solid black; */
    margin-top: 40px;
    margin-left: 80px;
}
#product_info{
    width: 50%;
    height: 450px;
    border: 1px solid black;
    flex: 2;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 30px;
}
#product_name{
    width: 500px;
    height: 50px;
    font-size: 20px;
    margin-left: 30px;
    margin-top: 30px;
    display: flex;
}
#pro_name{
    margin-left: 5px;
}
#product_variant{
    width: 600px;
    height: 50px;
    font-size: 20px;
    margin-left: 30px;
}
#variant{
    width: 100px;
    height: 50px;
    margin-left: 30px;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    margin-top: -20px;
    border: 1px solid black;
    border: 1px solid rgba(43, 194, 76, 0.47);
    color: green;
}
#variant1{
    margin-top: 15px;
}
#section{
    padding-left: 30px;
    margin-top: 5px;
    color: rgba(126, 125, 125, 0.701);
}
#product_mrp{
    width: 150px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    border: 1px solid black;
    text-decoration: line-through;
    text-align: center;
    color: rgb(126, 126, 126);
    border-radius: 5px;
}
#pro_mrp{
   margin-top: 10px;
   font-size: 17px;
}
#product_dmart{
    width: 150px;
    height: 50px;
    margin-left: 30px;
    margin-top: 10px;
    border: 1px solid black; 
    border-radius: 5px;
    text-align: center;
    display: flex;  
}
#pro_dmart{
    margin-top: 15px;
    font-size: 17px;
    margin-left: 35px;
}
#pro_dmart_price{
    margin-top: 15px;
    font-size: 17px; 
    margin-left: 5px;  
}
#price_save{
    width: 150px;
    height: 45px;
    background-color:rgba(43, 194, 76, 0.47) ;
    margin-top: 10px;
    margin-left: 30px;
    color: green;
    display: flex;
    border-radius: 10px;
}
#save{
    font-size: 17px;
    padding-top: 15px;
    margin-left: 30px;
}
#save_price{
    font-size: 19px;
    padding-top: 15px;
    margin-left: 10px;
}
#pro_cart{
    width: 94%;
    height: 35px;
    /* border:  1px solid black; */
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 25px;
    background-color: rgba(43, 194, 76, 0.47);
    display: flex;
}
#pro_cart_img{
    width: 20px;
    height: 20px;
    margin-left: 380px;
    display: inline;
    margin-top: 7px;
}
#pro_cart_msg
{  font-size: 16px;
   margin-top: 8px;
   margin-left: 5px; 
   color: green;
}
#pro_cart_add_to_cart{
    margin-left: 3px;
    display: inline;
    color: green;
    text-decoration: none;
    margin-top: 7px;
}
#all_info{
    width: 93%;
    height: 300px;
    border: 1px solid black;
    margin-left: 5%;
    margin-bottom: 50px;
    margin-top: -30px;
}
#description{
    margin-left: 300px;
    margin-top: 20px;
    border: 1px solid black;
    width: 800px;
    height: 50px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 30px;
    background-color: #5D6D7E ;
}
#product_description{
    margin-top: 15px;
}
#pro_description{
    width: 92%;
    height: 160px;
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-left: 50px;
    font-size: 20px;
}
#pro_descripation_info{
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid grey;
    display: flex;
    font-size: 20px;
    margin-top: 3px;
}
#Energy_Value{
    color: rgb(13, 13, 13);
    flex: 1;
}
#value{
    color: rgb(13, 13, 13);
    flex: 1;
}
#line{
   color: black;
}